

*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}



/* Navigation */

.nav-bar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    position: fixed;
    top: 0px;
    z-index: 1;
    width:1270px;
    padding-bottom: 20px;
}

.logo{
    width: 100px;
    margin-left: 100px;
    color: white;
    font-size: 30px;
    
}  

.logo p{
    margin-left: 18px;
    background-color: green;
    border-radius: 20px;
    padding-left: 10px;
}

.logo span{
    color: orange;
}

.logo img{
    width: 110px;
    padding-top: 5px;
}

.nav-menu{
    color: red;
    display: flex;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-menu a:hover{
    color:green;
    transition: 0.7s;
}

.access{
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
}

.access button{
    padding: 6px 10px;
    width: 80px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;

}

.access button:hover{
    background-color: rgb(2, 70, 2);
    transition: 0.5s;
    cursor: pointer;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 420px;
}

/* Container */

.log-page{
    font-family: sans-serif;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;

}

.log-page h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.log-page input{
    border-radius: none;
    margin-bottom: 20px;
    padding: 10px;
    width: 280px;
    height: 10px;
}

.log-page input::placeholder{
    color: rgb(61, 61, 61);
    font-size: 12px;
}



.log-page button{
    width: 300px;
    height: 27px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: rgb(167, 229, 73);
    color: white;
    margin-bottom: 20px;
}

.log-page a{
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px 0 90px;
    color: rgb(0, 179, 255);
    display: inline-block;
}

.reset{
    padding-bottom: 20px;
}

.log-page p{
    display: inline-block;
}

.already2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.already2 p{
    font-size: 12px;
    color: white;
}

.already2 a{
    color: green;
    margin-left: 2px;
}


input[type="checkbox"]{
    margin-left: 0px;
    padding: 10px;
}

label{
    font-size: 13px;
    color: white;
}

.hamburger{
    display: none;
}

.close{
    display: none;
}

.nav-list{
    display: none;
}














/* Responsiveness */

@media screen and (max-width:414px) {


    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    
    body{
        padding: 0px;
        margin: 0px;
        background-color: black;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    
    
    /* Navigation */
    
    .nav-bar{
        background-color: black;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
        position: fixed;
        top: 0px;
        z-index: 1;
        width:1270px;
        padding-bottom: 20px;
    }
    
    .logo{
        width: 100px;
        margin-left: -110px;
        color: white;
        font-size: 20px;
        
    }  
    
    .logo p{
        margin-left: 10px;
        background-color: green;
        border-radius: 20px;
        padding-left: 10px;
        width: 50px;
    }
    
    .logo span{
        color: orange;
    }
    
    .logo img{
        width: 110px;
        padding-top: 5px;
    }
    
    .nav-menu{
        color: red;
        display: flex;
    }
    
    .access{
        display: none;
    }
    
    .hamburger{
        width: 40px;
        margin-left: -140px;
        display: block;
    }
    
    .close{
        width: 40px;
        margin-left: -140px;
        display: none;
    }
    
    .nav-list{
        display: block;
        color: white;
        text-decoration: none;
        padding-top: 20px;
        padding-left: 10px;
        line-height: 45px;
        position: absolute;
        top: 100px;
        height: 1500px;
        width: 1500px;
        background-color: black;
        display: none;
        font-size: 20px;
    }
    
    .nav-list a{
        text-decoration: none;
        color: white;
        display: block;
        margin-bottom: 5px;
    }
    
    .my-btn{
        display: flex;
        
    }
    
    .nav-list button{
        margin-right: 5px;
        padding: 5px 5px;
        margin-bottom: 5px;
        background-color: black;
        border: 1px solid white;
        color: white;
    }
    
    .nav-menu a{
        display: none;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .nav-menu a:hover{
        color:green;
        transition: 0.7s;
    }
    
    .access{
        display: flex;
        position: absolute;
        top: 30px;
        right: 20px;
    }
    
    .access button{
        padding: 6px 10px;
        width: 80px;
        background-color: transparent;
        color: white;
        border: 1px solid gray;
    
    }
    
    .access button:hover{
        background-color: rgb(2, 70, 2);
        transition: 0.5s;
        cursor: pointer;
    }
    
    ul{
        display: block;
        background-color: red;
        margin-top: 100px;
        
        list-style: none;
        justify-content: space-between;
        /* margin-left: 40px; */
        
    }
    
    .list{
        display: block;
    }
    
    
    
}