/* Home Page */


*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}



/* Navigation */

.nav-bar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.logo{
    width: 100px;
    margin-left: 100px;
}   

.logo img{
    width: 110px;
    padding-top: 5px;
}

.nav-menu{
    display: flex;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    margin-right: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-menu a:hover{
    color:green;
    transition: 0.7s;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 420px;
}

.home{
    color:orange !important;
    font-size: 20px;
}


/* Container */

.about-us{
    background-color: rgb(19, 19, 19);
    margin-right: 0px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    padding-left: 40px !important;
    margin-top: 30px;
}

.about-us .note h1{
    color: rgb(249, 240, 240);
    margin-left: 200px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-us p{
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 15px;
    line-height: 22px;
    color: white;
}

.about-us .picture{
    padding-left: 0px;
    padding-top: 80px;
    
}

.about-us .picture img{
    width: 320px;
    clip-path: circle();
}

.about-line{
    height: 1px;
    background-color: whitesmoke;
    margin-top: 20px;
}


.copy{
    color: grey;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 520px;
}